.title-section {
    margin: 24px;
}

.charts-section {
    margin: 24px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.table-section {
    margin: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.team-stats-section {
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}