@import url('../../index.css');

.input-container {
    position: relative;
    width: 100%;
    display: flex;
}

.input-icon {
    position: absolute;
    left: 8px;
    top: 25%;
    color: var(--text-color);
}

.input-container:hover .input-icon {
    color: var(--secondary-color);
}

.input-container:focus-within .input-icon {
    color: var(--secondary-color);
}

.input-field {
    width: 100%;
    padding: 20px 8px 12px 40px;
    border: 1px solid transparent;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    background: var(--card-color);
    color: var(--title-color);
    font-family: 'Open Sans';
}

.placeholder-label {
    position: absolute;
    left: 36px;
    top: 25%;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: all 0.2s ease;
    pointer-events: none;
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.placeholder-label.focused {
    top: 4px;
    left: 36px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
}

.input-field:hover {
    background: var(--card-color);
    color: var(--title-color);
}

.input-field:focus {
    border: 1px solid var(--secondary-color);
    background: var(--card-color);
    color: var(--title-color);
}