@import url('../../index.css');

.csv-uploader {
    display: flex;
    flex-direction: column;
    margin: 24px;
    gap: 16px;
}

.drag-area {
    border: 1px dashed var(--caption-color);
    background-color: var(--card-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.drag-area:hover {
    border-color: var(--secondary-color);
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.accepted-file {
    display: flex;
    align-items: center;
    gap: 12px;
}