@import url('../../index.css');

.chart-container {
    background: var(--card-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    border-radius: 16px;
    width: calc(50% - 44px);
}

.chart-container .recharts-bar-rectangle {
    fill: var(--primary-color);
  }

.custom-tooltip {
    display: inline-flex;
    padding: 12px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 2px;
    border-radius: 8px;
    border: 1px solid var(--tertiary-color);
    background: var(--bg-color);
    width: fit-content;
    min-width: 120px;
}