@import url('../../index.css');

.stats-card {
    font-family: 'Nunito', sans-serif; /* не поняла почему не прокидывается из корня, найти и пофиксить, здесь не должно быть */
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    background: var(--card-color);
    border: 1px solid transparent;
    min-width: 180px;
    text-align: left;
}

.stats-summary {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
}

.stats-estimate {
    color: var(--text-color);
}

.stats-selected {
    border-color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.stats-selected h4 {
    color: var(--primary-color);
}
