@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

.App {
  font-family: Jura;
  font-size: 12px;
  color: #777677;
  background-color: #12141b;
}

h1 {
  color: #DCD8D3;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: #DCD8D3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

h3 {
  color: #DCD8D3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

h4 {
  color: #DCD8D3;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

button:hover {
  opacity: 0.6;
}

input {
  background: none;
  border: none;
  width: -webkit-fill-available;
  font-family: Jura;
  color: #777677;
  font-size: 14px;
  font-weight: 400;
}

input:hover {
  color: #71483B;
}

input:hover::placeholder {
  color: #71483B;
}

input:focus-visible{
  color: #CF7B5A;
  background: none;
  border: none;
  outline: none;
}

input:focus-visible::placeholder{
  color: #CF7B5A;
}