@import url('../../index.css');

.table-container {
    height: 640px;
    overflow: auto;
    position: relative;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
    /* position: relative; */
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
}

th {
    padding: 12px;
    text-align: left;
    position: relative;
}

.table-row td {
    background-color: var(--card-color);
    padding: 12px;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    max-width: 240px;
}

.table-row td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.table-row td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.highlight-matches {
    background-color: var(--tertiary-color);
    padding: 0 2px;
    color: var(--primary-color);
}

/* .resize-handler {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
    border-radius: 2px;
    cursor: col-resize;
    color: var(--secondary-color);
} */